@model List<CardIssuanceSystem.Core.ViewModel.AccountTypeVM>
@{

}

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                @*<th>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="optionsCheckboxes" unchecked=""><span class="checkbox-material"><span class="check"></span></span>
                            </label>
                        </div>
                    </th>*@
                <th>Account Type Name</th>
                <th>Description</th>
                <th>Comments</th>
                <th>Actions</th>

            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    @*<td>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="optionsCheckboxes" unchecked=""><span class="checkbox-material"><span class="check"></span></span>
                                </label>
                            </div>
                        </td>*@
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.AuthorizationComments</td>
                    <td>
                        <a class="btn btn-cstm btn-edit" href="@(Url.Action("AddUpdateAccountTypeForUpdateRequest","AccountTypes",new { Id=item.Code}))"><i class="fa fa-eye"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div><!-- End table-responsive -->