@model List<CardIssuanceSystem.Core.ViewModel.CardTypeVM>
@{
    ViewBag.Title = "Review Card Type Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var cardTypes = ViewBag.CardTypes;
}
@section CustomJS{
    <script type="text/javascript">
        $(function () {
            $('.btn-search').on('click', function () {
                var url = '@(Url.Action("FilterAuthorizeCardTypeScreen", "Review"))';
                var cardTypeId = $('.cmbx-card-type').val();
                var requestType = $('.cmbx-request-type').val();
                ShowLoader();
                LoadPartial("#div-table", url, { CardTypeId: cardTypeId, RequestType: requestType }, false, null, null, null);
                HideLoader();
            });

        });
    </script>
}

<div class="container">
    <div class="row form-group">
        <div class="col-md-2">
            <label class="control-label">Card Type</label>
            <select class="form-control cmbx-card-type">
                <option value="">Select Card Type</option>
                @foreach (var item in cardTypes)
                {
                    <option value="@item.ID">@item.Title</option>
                }
            </select>
        </div><!-- End col-md-2 -->
        <div class="col-md-2">
            <label class="control-label">Request Type</label>
            <select class="form-control cmbx-request-type">
                <option value="Add">Add</option>
                <option value="Update">Update</option>
            </select>
        </div><!-- End col-md-2 -->
        <div class="col-md-2">
            <button class="btn btn-cstm btn-search">Search</button>
        </div><!-- End col-md-2 -->
    </div><!-- End row -->

    <div id="div-table">
        @Html.Partial("_partialReviewAuthorizeCardTypeView", Model)
    </div>
</div><!-- End container -->
