
@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="form-group row">
        <div class="col-sm-3">
            <label class="control-label">Old Password</label>
            <input type="password" class="form-control oldpassword">
        </div><!-- End col-sm-3 -->
    </div><!-- End row -->

    <div class="form-group row">
        <div class="col-sm-3">
            <label class="control-label">New Password</label>
            <input type="password" class="form-control newpassword">
        </div><!-- End col-sm-3 -->

    </div>

    <div class="form-group row">
        <div class="col-sm-3">
            <label class="control-label">Confirm New Password</label>
            <input type="password" class="form-control confirmpassword">
        </div><!-- End col-sm-3 -->

    </div>

    <div class="form-group row">

        <div class="col-sm-6">
            <button class="btn btn-cstm btn-submit">Submit</button>
        </div><!-- End col-sm-9 -->
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('.oldpassword').on("cut copy paste", function (e) {
            e.preventDefault();
        });

        $('.newpassword').on("cut copy paste", function (e) {
            e.preventDefault();
        });

        $('.confirmpassword').on("cut copy paste", function (e) {
            e.preventDefault();
        });
    });


    $('.btn-submit').click(function () {
        debugger

        var oldpassword = $('.oldpassword').val();
        var newpassword = $('.newpassword').val();
        var confirmpassword = $('.confirmpassword').val();

        if (oldpassword.trim() == "" && newpassword.trim() == "" && confirmpassword.trim() == "") { alert("Please Enter All Values"); return false; }
        if(oldpassword.trim()=="")
        {
            alert("Please Old Password!");
            return false;
        }
        if(newpassword.trim()=="")
        {
            alert("Please New Password!");
            return false;
        }
        if(confirmpassword.trim()=="")
        {
            alert("Please Reenter New Password!");
            return false;
        }
        if(newpassword != confirmpassword)
        {
            alert("Passwords do not Match");
            return false;
        }

        
        var Url = '@Url.Action("ChangePassword", "Login")';
        ShowLoader();
        ajaxCall(Url, { oldpassword: oldpassword, newpassword: newpassword }, function (resp) {
            //debugger
            HideLoader();
            if (resp.Result==true && resp.Message=='@CardIssuanceSystem.Core.Helpers.CustomMessages.PasswordChanged')
            {
                alert(resp.Message);
                location.reload();
            }
            else
            {
                alert(resp.Message);
            }

        }, function (fail) {
            HideLoader();
            alert("Failure");
        }, function (err) {
            HideLoader();
            alert("Error");
        });

    });
</script>