
@{
    ViewBag.Title = "Index2";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        body {
            margin: 0px;
        }
        html, body { height: 100%; }
    </style>
    
</head>
<body>
    <iframe src="@Url.Action("index","login")" style="border: 0; width: 100%; height: 99%">Your browser doesn't support iFrames.</iframe>
</body>
</html>


