@model List<CardIssuanceSystem.Core.ViewModel.AuthorizationVM>
@{
    ViewBag.Title = "Card Upgrade Authorization";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section CustomJS{
    <script src="~/Content/RequestJS.js"></script>

}
<div class="container">
    <div class="row form-group">
        <div class="col-md-2">
            <label class="control-label">Request Date From</label>
            <div class='input-group date datetimepicker1'>
                <input type='text' class="form-control from_date" readonly/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div><!-- End col-md-2 -->

        <div class="col-md-2">
            <label class="control-label">Request Date To</label>
            <div class='input-group date datetimepicker1'>
                <input type='text' class="form-control to_date" readonly/>
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div><!-- End col-md-2 -->

        <div class="col-md-2">
            <label class="control-label">Request No</label>
            <input type="text" class="form-control request_number">
        </div><!-- End col-md-2 -->

        <div class="col-md-2">
            <label class="control-label">CIF #</label>
            <input type="text" class="form-control cif_number">
        </div><!-- End col-md-2 -->

        <div class="col-md-2">
            <label class="control-label">Account #</label>
            <input type="text" class="form-control account_number">
            @Html.Hidden("hfrequest_type", "U")
        </div><!-- End col-md-2 -->

        <div class="col-md-2">
            <button id="btnFilterRequestData" class="btn btn-cstm">Search</button>
        </div><!-- End col-md-2 -->
    </div><!-- End row -->

    <div class="divTableData">
        @Html.Partial("_partialAuthorizeView", Model)
    </div>
</div><!-- End container -->
