<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CardIssuanceSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  
  <system.web>
    <sessionState timeout="10" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
    <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="tester4viftech@gmail.com">
        <network userName="tester4viftech@gmail.com" password="viftech123" defaultCredentials="false" enableSsl="true" host="smtp.gmail.com" port="587" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!--<add key="SiteUrl" value="http://10.15.200.60/CIS/"/>-->
   <add key="SiteUrl" value="http://localhost:41056/" />
    <!--<add key="UserPayment" value="CARD.UAT" />
    <add key="PassPayment" value="oanPYMc3ojexQRl2kRxFEg==" />

    <add key="UserFetch" value="CARD.USER" />
    <add key="PassFetch" value="oanPYMc3ojexQRl2kRxFEg==" />-->
    
      <add key="UserPayment" value="CARD.UAT" />
    <add key="PassPayment" value="PA$$WORD" />

    <add key="UserFetch" value="CARD.USER" />
    <add key="PassFetch" value="PA$$WORD" />

    <!--<add key="LogFilePath" value="C:\Users\Mohsin\Desktop\Logs\" />
    <add key="TransactionLogFilePath" value="C:\Users\Mohsin\Desktop\Logs\" />
    <add key="RequestLogFilePath" value="C:\Users\Mohsin\Desktop\Logs\" />-->

    <add key="LogFilePath" value="C:\Users\Logs\" />
    <add key="TransactionLogFilePath" value="C:\Users\Logs\" />
    <add key="RequestLogFilePath" value="C:\Users\Logs\" />

    <add key="HotFile" value="273" />
  </appSettings>
  
  <connectionStrings>
  
    <!--
  <add name="SoneriCISEntities" connectionString="metadata=res://*/CISModel.csdl|res://*/CISModel.ssdl|res://*/CISModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source==DANISH-PC\SQL2014;initial catalog=CISv2-8Nov18;user id=sa;password=viftech;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
-->
   <!-- 
    <add name="SoneriCISEntities" connectionString="metadata=res://*/CISModel.csdl|res://*/CISModel.ssdl|res://*/CISModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.35.1.29;initial catalog=VT_SoneriCIS_280519;user id=vt_SoneriCIS_UAT;password=abc123++;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    -->
   
 <add name="SoneriCISEntities" connectionString="metadata=res://*/CISModel.csdl|res://*/CISModel.ssdl|res://*/CISModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MOIZ-PC\SQL2014;initial catalog=CIS_Live_bkp_jun19a;user id=sa;password=viftech;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
   
 <!--<add name="SoneriCISEntities" connectionString="metadata=res://*/CISModel.csdl|res://*/CISModel.ssdl|res://*/CISModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.12.1.72;initial catalog=vt_SoneriCIS;user id=US_RMUAHWWA;password=abc123++;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    
</connectionStrings>

  <!--
  <connectionStrings>
  
    <add name="SoneriCISEntities" connectionString="metadata=res://*/CISModel.csdl|res://*/CISModel.ssdl|res://*/CISModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.35.1.29;initial catalog=VT_SoneriCIS_300119;user id=vt_SoneriCIS_UAT;password=mD87QQqkKn6xQRl2kRxFEg==;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    

    <add name="SoneriCISEntities" connectionString="metadata=res://*/CISModel.csdl|res://*/CISModel.ssdl|res://*/CISModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.35.1.29;initial catalog=VT_SoneriCIS310119;user id=vt_SoneriCIS_UAT;password=abc123++;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
    <add name="SoneriCISEntities" connectionString="metadata=res://*/CISModel.csdl|res://*/CISModel.ssdl|res://*/CISModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.35.1.16;initial catalog=vt_SoneriCIS;user id=vt_SoneriCIS;password=Pakistan1947;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  
  </connectionStrings>
  -->
    <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="file" value="Logs\CIS.log" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Composite" />
      <param name="DatePattern" value="yyyy.MM.dd" />
      <maxSizeRollBackups value="50" />
      <maximumFileSize value="20MB" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <to value="tester4viftech@gmail.com" />
      <from value="tester4viftech@gmail.com" />
      <subject value="test logging message" />
      <smtpHost value="smtp.gmail.com" />
      <port value="587" />
      <bufferSize value="512" />
      <lossy value="false" />
      <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%newline%date [%thread] %-5level %logger [%property{NDC}] - %message%newline%newline%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingFile" />
      <appender-ref ref="SmtpAppender" />
    </root>
  </log4net>
  <applicationSettings>
    <CardIssuanceSystem.Properties.Settings>
      <setting name="CardIssuanceSystem_NewCISSB_T24WebServicesImplService"
        serializeAs="String">
        <value>http://10.35.1.154:9092/SON.CARD.OPS/services</value>
      </setting>
      <setting name="CardIssuanceSystem_CISSB_BEAPITransactionService"
        serializeAs="String">
        <value>http://10.20.206.22:7800/SBL/SBLPaymentServices</value>
      </setting>
    </CardIssuanceSystem.Properties.Settings>
  </applicationSettings>
</configuration>