
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section CustomJS{
    		<!-- dashborad login -->
    <link rel="stylesheet" href="~/assets/css/custom.css" />

    }
<div class="container">

    @*<div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="kpis kpi1">
                <span class="fa fa-dashboard"></span>
                <span class="txt">Lorem Ipsum</span>
                <span class="no">5654</span>
            </div><!-- End kpis -->
        </div><!-- End col-lg-3 col-md-6 -->

        <div class="col-lg-3 col-md-6">
            <div class="kpis kpi2">
                <span class="fa fa-dashboard"></span>
                <span class="txt">Lorem Ipsum</span>
                <span class="no">9568</span>
            </div><!-- End kpis -->
        </div><!-- End col-lg-3 col-md-6 -->

        <div class="col-lg-3 col-md-6">
            <div class="kpis kpi3">
                <span class="fa fa-dashboard"></span>
                <span class="txt">Lorem Ipsum</span>
                <span class="no">4894</span>
            </div><!-- End kpis -->
        </div><!-- End col-lg-3 col-md-6 -->

        <div class="col-lg-3 col-md-6">
            <div class="kpis kpi4">
                <span class="fa fa-dashboard"></span>
                <span class="txt">Lorem Ipsum</span>
                <span class="no">3614</span>
            </div><!-- End kpis -->
        </div><!-- End col-lg-3 col-md-6 -->
    </div><!-- End row -->

    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="kpis kpi4">
                <span class="fa fa-dashboard"></span>
                <span class="txt">Lorem Ipsum</span>
                <span class="no">3614</span>
            </div><!-- End kpis -->
        </div><!-- End col-lg-3 col-md-6 -->

        <div class="col-lg-3 col-md-6">
            <div class="kpis kpi3">
                <span class="fa fa-dashboard"></span>
                <span class="txt">Lorem Ipsum</span>
                <span class="no">4894</span>
            </div><!-- End kpis -->
        </div><!-- End col-lg-3 col-md-6 -->

        <div class="col-lg-3 col-md-6">
            <div class="kpis kpi2">
                <span class="fa fa-dashboard"></span>
                <span class="txt">Lorem Ipsum</span>
                <span class="no">9568</span>
            </div><!-- End kpis -->
        </div><!-- End col-lg-3 col-md-6 -->

        <div class="col-lg-3 col-md-6">
            <div class="kpis kpi1">
                <span class="fa fa-dashboard"></span>
                <span class="txt">Lorem Ipsum</span>
                <span class="no">5654</span>
            </div><!-- End kpis -->
        </div><!-- End col-lg-3 col-md-6 -->
    </div><!-- End row -->

    <button type="button" class="btn btn-cstm" data-toggle="modal" data-target="#myModal">Modal</button>*@
</div><!-- End container -->


		<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>

            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-cstm" data-dismiss="modal">Save</button>
                <button type="button" class="btn btn-cstm btn-light" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>
