
@{
    ViewBag.Title = "Card Charges";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row form-group">
        <div class="col-md-3">
            <label class="control-label">Account Type Name</label>
            <select class="form-control">
                <option>Account type</option>
                <option>Account type</option>
            </select>
        </div><!-- End col-md-3 -->

        <div class="col-md-3">
            <label class="control-label">Account Type Code</label>
            <select class="form-control">
                <option>Account code</option>
                <option>Account code</option>
            </select>
        </div><!-- End col-md-3 -->


        <div class="col-md-3">
            <button class="btn btn-cstm">Search</button>
        </div><!-- End col-md-3 -->
    </div><!-- End row -->

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="optionsCheckboxes" unchecked=""><span class="checkbox-material"><span class="check"></span></span>
                            </label>
                        </div>
                    </th>
                    <th>S.No.</th>
                    <th>Account Type Name</th>
                    <th>Account Type Code</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="optionsCheckboxes" unchecked=""><span class="checkbox-material"><span class="check"></span></span>
                            </label>
                        </div>
                    </td>
                    <td>1</td>
                    <td>Doe</td>
                    <td>12134</td>
                    <td>Debit Master Gold Card</td>
                    <td>
                        <button class="btn btn-cstm"><i class="fa fa-eye"></i></button>
                        <button class="btn btn-cstm"><i class="fa fa-info-circle"></i></button>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="optionsCheckboxes" unchecked=""><span class="checkbox-material"><span class="check"></span></span>
                            </label>
                        </div>
                    </td>
                    <td>2</td>
                    <td>Doe</td>
                    <td>12134</td>
                    <td>Debit Master Gold Card</td>
                    <td>
                        <button class="btn btn-cstm"><i class="fa fa-eye"></i></button>
                        <button class="btn btn-cstm"><i class="fa fa-info-circle"></i></button>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="optionsCheckboxes" unchecked=""><span class="checkbox-material"><span class="check"></span></span>
                            </label>
                        </div>
                    </td>
                    <td>3</td>
                    <td>Doe</td>
                    <td>12134</td>
                    <td>Debit Master Gold Card</td>
                    <td>
                        <button class="btn btn-cstm"><i class="fa fa-eye"></i></button>
                        <button class="btn btn-cstm"><i class="fa fa-info-circle"></i></button>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="optionsCheckboxes" unchecked=""><span class="checkbox-material"><span class="check"></span></span>
                            </label>
                        </div>
                    </td>
                    <td>4</td>
                    <td>Doe</td>
                    <td>12134</td>
                    <td>Debit Master Gold Card</td>
                    <td>
                        <button class="btn btn-cstm"><i class="fa fa-eye"></i></button>
                        <button class="btn btn-cstm"><i class="fa fa-info-circle"></i></button>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="optionsCheckboxes" unchecked=""><span class="checkbox-material"><span class="check"></span></span>
                            </label>
                        </div>
                    </td>
                    <td>5</td>
                    <td>Doe</td>
                    <td>12134</td>
                    <td>Debit Master Gold Card</td>
                    <td>
                        <button class="btn btn-cstm"><i class="fa fa-eye"></i></button>
                        <button class="btn btn-cstm"><i class="fa fa-info-circle"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div><!-- End table-responsive -->
</div><!-- End container -->

